asgiref
astroid
asttokens
async-timeout
backcall
colorama
decorator
Django
django-crontab
executing
flake8
flake8-django
ipython
jedi
lazy-object-proxy
matplotlib-inline
mccabe
parso
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
pure-eval
pycodestyle
pyflakes
Pygments
python-dotenv
pytz
redis
schedule
six
sqlparse
stack-data
traitlets
transliterate
tzdata
wcwidth
wrapt